nodered/Procesy/Agent4_BOS_Frontdesk.json
[{"id":"5716b593c51b7513","type":"tab","label":"Agent_BOS_Frontdesk (logic)","disabled":false,"info":"","env":[]},{"id":"9b153dac8ea8e41f","type":"tab","label":"Agent_BOS - Frontdesk","disabled":false,"info":"","env":[]},{"id":"36fe8c50d5ed6980","type":"tab","label":"TEST – Agenci AI","disabled":false,"info":""},{"id":"f332562e163893c3","type":"tab","label":"ORCHESTRATOR – z AGENT 3 (async)","disabled":false},{"id":"332a92735aa04b7c","type":"inject","z":"5716b593c51b7513","name":"Flow 1: Pracownik odpowiada samodzielnie","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"student_question\": \"Jak zresetować hasło do USOS?\", \"ticket_id\": 101, \"ticket_category\": \"IT Support\"}","payloadType":"str","x":210,"y":100,"wires":[["0d2e19d4a967b772"]]},{"id":"239f24d9dba72893","type":"function","z":"5716b593c51b7513","name":"Qdrant: Przesłanie formularza do bazy","func":"msg.payload = {\n    \"ticket_id\": msg.payload.ticket_id,\n    \"question\": msg.payload.student_question,\n    \"category\": msg.payload.ticket_category,\n    \"answer\": msg.bos_answer\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":100,"wires":[["6b858693961b1816"]]},{"id":"6b858693961b1816","type":"http request","z":"5716b593c51b7513","name":"POST /add_ticket","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent4_bos:8000/add_ticket","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1270,"y":100,"wires":[["728060081a990390"]]},{"id":"728060081a990390","type":"debug","z":"5716b593c51b7513","name":"Zamknięcie ticketu","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":100,"wires":[]},{"id":"0d2e19d4a967b772","type":"function","z":"5716b593c51b7513","name":"Pracownik przygotowuje odpowiedź samodzielnie","func":"msg.bos_answer = \"Musisz wejść na stronę reset.uni.edu.pl\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":100,"wires":[["239f24d9dba72893"]]},{"id":"0db70d04fe2be5cc","type":"inject","z":"5716b593c51b7513","name":"Flow 2: Pracownik korzysta z pomocy Agenta","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"student_question\": \"Gdzie mogę znaleźć nagranie ze szkolenia bibliotecznego dla pierwszego roku? Nie mogłem być na spotkaniu online w zeszły wtorek, a muszę zaliczyć test.\", \"ticket_id\": 102, \"ticket_category\": \"Training\"}","payloadType":"json","x":210,"y":160,"wires":[["8d5e8c4524700236"]]},{"id":"8d5e8c4524700236","type":"function","z":"5716b593c51b7513","name":"Qdrant: Przeszukanie bazy na podstawie kategorii","func":"msg.payload = {\n    \"query\": msg.payload.student_question,\n    \"filter_category\": msg.payload.ticket_category\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":160,"wires":[["a18e521d0710d116"]]},{"id":"a18e521d0710d116","type":"http request","z":"5716b593c51b7513","name":"POST /search","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent4_bos:8000/search","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":920,"y":160,"wires":[["92f5eb56cd47578d"]]},{"id":"92f5eb56cd47578d","type":"function","z":"5716b593c51b7513","name":"Qdrant: Przesłanie formularza do bazy","func":"msg.payload = {\n    \"ticket_id\": msg.payload.ticket_id,\n    \"question\": msg.payload.student_question,\n    \"category\": msg.payload.ticket_category,\n    \"answer\": msg.payload.bos_answer\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":160,"wires":[["ddf8a243d5a516a6"]]},{"id":"ddf8a243d5a516a6","type":"http request","z":"5716b593c51b7513","name":"POST /add_ticket","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent4_bos:8000/add_ticket","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1470,"y":160,"wires":[["6bae6edddd217af5"]]},{"id":"6bae6edddd217af5","type":"debug","z":"5716b593c51b7513","name":"Zamknięcie ticketu","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":160,"wires":[]},{"id":"5fd64fcfef90421c","type":"inject","z":"5716b593c51b7513","name":"Flow 3: Agent nie znajduje poprawnej odpowiedzi","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"student_question\": \"Zgubiłem wczoraj moją legitymację studencką (ELS). Gdzie muszę się zgłosić, żeby wyrobić duplikat i na jakie konto mam wpłacić pieniądze za wydanie nowej?\", \"ticket_id\": 103, \"ticket_category\": \"FAQ\"}","payloadType":"json","x":220,"y":220,"wires":[["3b6ca4a503c715f8"]]},{"id":"3b6ca4a503c715f8","type":"function","z":"5716b593c51b7513","name":"Qdrant: Przeszukanie bazy na podstawie kategorii","func":"msg.payload = {\n    \"query\": msg.payload.student_question,\n    \"filter_category\": msg.payload.ticket_category\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":220,"wires":[["d0eaa39bc5793dc7"]]},{"id":"d0eaa39bc5793dc7","type":"http request","z":"5716b593c51b7513","name":"POST /search","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent4_bos:8000/search","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":940,"y":220,"wires":[["3020c10df1847e3a"]]},{"id":"3020c10df1847e3a","type":"function","z":"5716b593c51b7513","name":"Qdrant: Przeszukanie całej bazy","func":"msg.payload = {\n    \"query\": msg.payload.student_question,\n    \"filter_category\": \"all\"\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":220,"wires":[["a91aa1805078d4db"]]},{"id":"a91aa1805078d4db","type":"http request","z":"5716b593c51b7513","name":"POST /search","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent4_bos:8000/search","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1440,"y":220,"wires":[["3ba66c18cf164a1c"]]},{"id":"3ba66c18cf164a1c","type":"function","z":"5716b593c51b7513","name":"Qdrant: Przesłanie formularza do bazy","func":"msg.payload = {\n    \"ticket_id\": msg.payload.ticket_id,\n    \"question\": msg.payload.student_question,\n    \"category\": msg.payload.ticket_category,\n    \"answer\": msg.payload.bos_answer\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":220,"wires":[["a4d73d409f40d90f"]]},{"id":"a4d73d409f40d90f","type":"http request","z":"5716b593c51b7513","name":"POST /add_ticket","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent4_bos:8000/add_ticket","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1990,"y":220,"wires":[["b456c24411251eef"]]},{"id":"b456c24411251eef","type":"debug","z":"5716b593c51b7513","name":"Zamknięcie ticketu","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2210,"y":220,"wires":[]},{"id":"5f60c346fd3f2ae1","type":"http in","z":"5716b593c51b7513","name":"Odebranie formularza","url":"/api/zatwierdz-odpowiedz","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":120,"y":340,"wires":[["98ea8a0ef0db701f"]]},{"id":"98ea8a0ef0db701f","type":"function","z":"5716b593c51b7513","name":"Przygotowanie danych dla Agenta","func":"msg.payload = {\n    \"ticket_id\": msg.payload.ticket_id,\n    \"question\": msg.payload.student_question,\n    \"category\": msg.payload.ticket_category,\n    \"answer\": msg.payload.bos_answer\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":340,"wires":[["5782d8bfae54a54b"]]},{"id":"5782d8bfae54a54b","type":"http request","z":"5716b593c51b7513","name":"Przesłanie danych do agenta","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent4_bos:8000/add_ticket","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":700,"y":340,"wires":[["7456608177cdc3a3"]]},{"id":"7456608177cdc3a3","type":"http response","z":"5716b593c51b7513","name":"Formularz zapisany w bazie qdrant","statusCode":"200","headers":{},"x":1000,"y":340,"wires":[]},{"id":"bb6e900d278099bb","type":"comment","z":"5716b593c51b7513","name":"Test - odebranie i przesłanie formularza","info":"","x":170,"y":280,"wires":[]},{"id":"dc4ac330ce32e225","type":"comment","z":"5716b593c51b7513","name":"Test - działanie agenta i bazy qdrant","info":"","x":160,"y":40,"wires":[]},{"id":"4e5b2d0ed8807d56","type":"inject","z":"5716b593c51b7513","name":"Test: Czy Agent żyje?","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":460,"wires":[["5e703b54d61b82af"]]},{"id":"5e703b54d61b82af","type":"http request","z":"5716b593c51b7513","name":"GET / (root)","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://agent4_bos:8000/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":340,"y":460,"wires":[["d025658516279201"]]},{"id":"d025658516279201","type":"debug","z":"5716b593c51b7513","name":"Wynik testu","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":460,"wires":[]},{"id":"e5b7705d2f549205","type":"inject","z":"5716b593c51b7513","name":"Test: Połączenie z kolekcją Qdrant","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":520,"wires":[["109fcf688820b20a"]]},{"id":"109fcf688820b20a","type":"http request","z":"5716b593c51b7513","name":"GET /collections","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://qdrant:6333/collections","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":440,"y":520,"wires":[["16aba3621d29dbfb"]]},{"id":"16aba3621d29dbfb","type":"debug","z":"5716b593c51b7513","name":"Lista kolekcji","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"e6ed698c7599679a","type":"comment","z":"5716b593c51b7513","name":"Test - połączenie z agentem oraz bazą qdrant","info":"","x":190,"y":400,"wires":[]},{"id":"23be3e6be8f5ddcb","type":"inject","z":"9b153dac8ea8e41f","name":"Ticket trafia do BOS","props":[{"p":"payload"},{"p":"mode","v":"Agent","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"student_question\": \"Jak zresetować hasło do USOS?\", \"ticket_id\": 101, \"ticket_category\": \"IT Support\"}","payloadType":"json","x":230,"y":160,"wires":[["6736143f2d51fecf"]]},{"id":"6736143f2d51fecf","type":"switch","z":"9b153dac8ea8e41f","name":"Decyzja: Sam czy Agent?","property":"mode","propertyType":"msg","rules":[{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Agent","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":220,"wires":[["c41b4038b29313bf"],["9c74463057c77acc"]]},{"id":"9b108eed1e397bef","type":"function","z":"9b153dac8ea8e41f","name":"Qdrant: przeszukanie bazy na podstawie kategorii","func":"// Tutaj tworzymy payload do Qdrant z filtrem kategorii\n\nmsg.qdrant_payload = {\n    \"vector\": [0.1, 0.2, 0.3], // Tu byłby prawdziwy wektor z OpenAI\n    \"filter\": {\n        \"must\": [\n            {\n                \"key\": \"ticket_category\",\n                \"match\": {\n                    \"value\": msg.payload.ticket_category // Np. \"IT Support\"\n                }\n            }\n        ]\n    },\n    \"limit\": 3\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":340,"wires":[["bb8bb9970ea945ff"]]},{"id":"bfc3634b2d46a390","type":"switch","z":"9b153dac8ea8e41f","name":"Decyzja: Czy odpowiedź jest wystarczająca?","property":"is_answer_enough","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":480,"wires":[["145ba6109544d61e"],["78b5cda487dd6ab7"]]},{"id":"d655c8430c6441b4","type":"function","z":"9b153dac8ea8e41f","name":"Qdrant: Przeszukanie całej bazy","func":"// Tutaj tworzymy payload do Qdrant z filtrem kategorii\n\nmsg.qdrant_payload = {\n    \"vector\": [0.1, 0.2, 0.3], // Tu byłby prawdziwy wektor z OpenAI\n    \"limit\": 5\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":600,"wires":[["23508e21abd0d53e"]]},{"id":"abaa757c115a8463","type":"function","z":"9b153dac8ea8e41f","name":"Qdrant: Przesłanie formularza do bazy","func":"// Przygotowanie punktu do zapisu w bazie wektorowej\nmsg.qdrant_upsert = {\n    \"points\": [\n        {\n            \"id\": msg.payload.ticket_id,\n            \"vector\": [0.1, 0.2, 0.3], // Nowy embedding pary Pytanie+Odpowiedź\n            \"payload\": {\n                \"student_question\": msg.payload.student_question,\n                \"ticket_category\": msg.payload.ticket_category,\n                \"bos_answer\": msg.bos_answer\n            }\n        }\n    ]\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1890,"y":360,"wires":[["4ceec9bcf68c4de2"]]},{"id":"23508e21abd0d53e","type":"function","z":"9b153dac8ea8e41f","name":"Formularz: Odpowiedź do studenta","func":"msg.form_answer = \"Musisz wejść na stronę reset.wsb.gda.pl\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":280,"wires":[["abaa757c115a8463"]]},{"id":"78b5cda487dd6ab7","type":"function","z":"9b153dac8ea8e41f","name":"Formularz: Odpowiedź agenta jest niewystarczająca","func":"msg.form_is_response_correct = \"No\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["d655c8430c6441b4"]]},{"id":"4ceec9bcf68c4de2","type":"debug","z":"9b153dac8ea8e41f","name":"Zamknięcie ticketu","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":500,"wires":[]},{"id":"c41b4038b29313bf","type":"function","z":"9b153dac8ea8e41f","name":"Formularz: Pracownik pracuje samodzielnie","func":"msg.form_source = \"Pracownik\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":160,"wires":[["23508e21abd0d53e"]]},{"id":"145ba6109544d61e","type":"function","z":"9b153dac8ea8e41f","name":"Formularz: odpowiedź wystarczająca","func":"msg.form_is_response_correct = \"Yes\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":420,"wires":[["23508e21abd0d53e"]]},{"id":"9c74463057c77acc","type":"function","z":"9b153dac8ea8e41f","name":"Formularz: Pracownik korzysta z pomocy agenta ","func":"msg.form_source = \"Agent\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":280,"wires":[["9b108eed1e397bef"]]},{"id":"bb8bb9970ea945ff","type":"function","z":"9b153dac8ea8e41f","name":"Pracownik analizuje poprawność odpowiedzi","func":"msg.is_answer_enough = false\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":400,"wires":[["bfc3634b2d46a390"]]},{"id":"8ea07cb58212bae0","type":"inject","z":"36fe8c50d5ed6980","name":"AGENT 1 – test chatbot","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":140,"y":80,"wires":[["825d8ba8dfa6d69c"]]},{"id":"825d8ba8dfa6d69c","type":"function","z":"36fe8c50d5ed6980","name":"Payload AGENT 1","func":"msg.payload = {\n  user_id: \"student_001\",\n  text: \"Do kiedy trwa rekrutacja na semestr letni?\"\n};\nreturn msg;","outputs":1,"x":360,"y":80,"wires":[["a29760c72bd3d5a7"]]},{"id":"a29760c72bd3d5a7","type":"http request","z":"36fe8c50d5ed6980","name":"AGENT 1","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent1_student:8000/run","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":560,"y":80,"wires":[["8b6ab1a791d2554c"]]},{"id":"8b6ab1a791d2554c","type":"debug","z":"36fe8c50d5ed6980","name":"DEBUG AGENT 1","active":false,"tosidebar":true,"complete":"payload","statusVal":"","statusType":"auto","x":760,"y":80,"wires":[]},{"id":"8e828e90530accd0","type":"inject","z":"36fe8c50d5ed6980","name":"AGENT 2 – test ticket","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":140,"y":160,"wires":[["b620bc30feceb7dc"]]},{"id":"b620bc30feceb7dc","type":"function","z":"36fe8c50d5ed6980","name":"Payload AGENT 2","func":"msg.payload = {\n  ticket_id: \"TCK-1001\",\n  text: \"Nie mogę zapisać się na przedmiot – błąd USOS\"\n};\nreturn msg;","outputs":1,"x":360,"y":160,"wires":[["d3ddbe969497b1b5"]]},{"id":"d3ddbe969497b1b5","type":"http request","z":"36fe8c50d5ed6980","name":"AGENT 2","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent2_ticket:8000/run","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":560,"y":160,"wires":[["6055789e27df19fc"]]},{"id":"6055789e27df19fc","type":"debug","z":"36fe8c50d5ed6980","name":"DEBUG AGENT 2","active":false,"complete":"payload","x":760,"y":160,"wires":[]},{"id":"5f16e96c065772e9","type":"inject","z":"36fe8c50d5ed6980","name":"AGENT 3 – test analizy","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":140,"y":240,"wires":[["eaa66d939e8b50b6"]]},{"id":"eaa66d939e8b50b6","type":"function","z":"36fe8c50d5ed6980","name":"Payload AGENT 3","func":"msg.payload = {\n  data: [\n    {\"category\": \"IT\", \"count\": 42},\n    {\"category\": \"Stypendia\", \"count\": 18}\n  ]\n};\nreturn msg;","outputs":1,"x":360,"y":240,"wires":[["cc87fd2d097178aa"]]},{"id":"cc87fd2d097178aa","type":"http request","z":"36fe8c50d5ed6980","name":"AGENT 3","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent3_analytics:8000/run","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":560,"y":240,"wires":[["71ea49811b12aea6"]]},{"id":"71ea49811b12aea6","type":"debug","z":"36fe8c50d5ed6980","name":"DEBUG AGENT 3","active":false,"complete":"payload","x":760,"y":240,"wires":[]},{"id":"7d28c8f2d4b1e9ae","type":"inject","z":"36fe8c50d5ed6980","name":"AGENT 4 – test BOS","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":140,"y":320,"wires":[["0f7aec2c4e03659b"]]},{"id":"0f7aec2c4e03659b","type":"function","z":"36fe8c50d5ed6980","name":"Payload AGENT 4","func":"msg.payload = {\n  context: \"Student pyta o urlop dziekański\",\n  task: \"Przygotuj szkic odpowiedzi\"\n};\nreturn msg;","outputs":1,"x":360,"y":320,"wires":[["c9dd56895b6599b3"]]},{"id":"c9dd56895b6599b3","type":"http request","z":"36fe8c50d5ed6980","name":"AGENT 4","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent4_bos:8000/run","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":560,"y":320,"wires":[["24d69c127aad9a0b"]]},{"id":"24d69c127aad9a0b","type":"debug","z":"36fe8c50d5ed6980","name":"DEBUG AGENT 4","active":false,"complete":"payload","x":760,"y":320,"wires":[]},{"id":"2bb961515f44d01a","type":"inject","z":"36fe8c50d5ed6980","name":"AGENT 5 – test RODO","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","x":140,"y":400,"wires":[["c09af01911354486"]]},{"id":"c09af01911354486","type":"function","z":"36fe8c50d5ed6980","name":"Payload AGENT 5","func":"msg.payload = {\n  text: \"Jan Kowalski, PESEL 90010112345, prośba o zaświadczenie\"\n};\nreturn msg;","outputs":1,"x":360,"y":400,"wires":[["1ba4aaa6e2510d3f"]]},{"id":"1ba4aaa6e2510d3f","type":"http request","z":"36fe8c50d5ed6980","name":"AGENT 5","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://agent5_security:8000/run","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":560,"y":400,"wires":[["0137c28645f37eaf"]]},{"id":"0137c28645f37eaf","type":"debug","z":"36fe8c50d5ed6980","name":"DEBUG AGENT 5","active":false,"complete":"payload","x":760,"y":400,"wires":[]},{"id":"a9dee07f4b365c26","type":"inject","z":"f332562e163893c3","name":"START – zapytanie studenta","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["cb862cd323f365be"]]},{"id":"cb862cd323f365be","type":"function","z":"f332562e163893c3","name":"Prepare input","func":"msg.payload = {\n  input: \"Nie mogę zapisać się na przedmiot – system pokazuje błąd\",\n  user_role: \"student\",\n  trace_id: Date.now().toString(),\n  timestamp: new Date().toISOString()\n};\nreturn msg;","outputs":1,"x":140,"y":260,"wires":[["4bcf5a4ea4f2e324"]]},{"id":"4bcf5a4ea4f2e324","type":"http request","z":"f332562e163893c3","name":"AGENT 5 – security PRE","method":"POST","ret":"obj","url":"http://agent5_security:8000/run","x":190,"y":400,"wires":[["4fe1232054804242"]]},{"id":"4fe1232054804242","type":"http request","z":"f332562e163893c3","name":"AGENT 2 – klasyfikacja","method":"POST","ret":"obj","url":"http://agent2_ticket:8000/run","x":590,"y":120,"wires":[["f0d20be437fdafcc"]]},{"id":"f0d20be437fdafcc","type":"switch","z":"f332562e163893c3","name":"Routing","property":"payload.category","rules":[{"t":"eq","v":"FAQ"},{"t":"neq","v":"FAQ"}],"checkall":"true","outputs":1,"x":600,"y":240,"wires":[["05460500a60047bb"]]},{"id":"05460500a60047bb","type":"http request","z":"f332562e163893c3","name":"AGENT 1 – chatbot","method":"POST","ret":"obj","url":"http://agent1_student:8000/run","x":490,"y":720,"wires":[["a714c283ef4fd808"]]},{"id":"2c1c3dd128abc7f4","type":"http request","z":"f332562e163893c3","name":"AGENT 4 – BOS","method":"POST","ret":"obj","url":"http://agent4_bos:8000/run","x":930,"y":200,"wires":[["a714c283ef4fd808"]]},{"id":"a714c283ef4fd808","type":"http request","z":"f332562e163893c3","name":"AGENT 5 – security POST","method":"POST","ret":"obj","url":"http://agent5_security:8000/run","x":860,"y":320,"wires":[["ec6df9304ce99eb8","eb480b6e43f6aed9"]]},{"id":"ec6df9304ce99eb8","type":"function","z":"f332562e163893c3","name":"Emit event → AGENT 3","func":"return {\n  payload: {\n    trace_id: msg.payload.trace_id,\n    category: msg.payload.category || \"unknown\",\n    timestamp: new Date().toISOString(),\n    source: \"orchestrator\"\n  }\n};","outputs":1,"x":1130,"y":440,"wires":[["e8b6d979672566d0"]]},{"id":"e8b6d979672566d0","type":"http request","z":"f332562e163893c3","name":"AGENT 3 – analiza (ASYNC)","method":"POST","ret":"obj","url":"http://agent3_analytics:8000/run","x":1240,"y":580,"wires":[[]]},{"id":"eb480b6e43f6aed9","type":"debug","z":"f332562e163893c3","name":"FINAL OUTPUT (user)","active":true,"complete":"payload","x":1260,"y":260,"wires":[]}]