nodered/Procesy/flows.json
[
    {
        "id": "495852470244b479",
        "type": "tab",
        "label": "Endpoints flows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b658661bd15d37e0",
        "type": "inject",
        "z": "495852470244b479",
        "name": "AGENT - znajdź przypadek",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "4a712d546930f4b0",
                "9a9a95507263ba95"
            ]
        ]
    },
    {
        "id": "8339e127b83a63b2",
        "type": "http request",
        "z": "495852470244b479",
        "name": "/support endpoint",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/support",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 790,
        "y": 120,
        "wires": [
            [
                "37f2a892497ded9f"
            ]
        ]
    },
    {
        "id": "4a712d546930f4b0",
        "type": "function",
        "z": "495852470244b479",
        "name": "Przypadek w bazie",
        "func": "msg.payload = {\n    query: \"test1\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 120,
        "wires": [
            [
                "8339e127b83a63b2"
            ]
        ]
    },
    {
        "id": "37f2a892497ded9f",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "9a9a95507263ba95",
        "type": "function",
        "z": "495852470244b479",
        "name": "Brak przypadku w bazie",
        "func": "msg.payload = {\n    query: \"Kawa jest niesmaczna\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 240,
        "wires": [
            [
                "116865fe711907e8"
            ]
        ]
    },
    {
        "id": "116865fe711907e8",
        "type": "http request",
        "z": "495852470244b479",
        "name": "/support endpoint",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/support",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 790,
        "y": 240,
        "wires": [
            [
                "e303929aa442480f"
            ]
        ]
    },
    {
        "id": "e303929aa442480f",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "fed77b0744e32413",
        "type": "inject",
        "z": "495852470244b479",
        "name": "Baza przypadków",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "f09ce2abd54515b3"
            ]
        ]
    },
    {
        "id": "f09ce2abd54515b3",
        "type": "http request",
        "z": "495852470244b479",
        "name": "QDRANT - request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/cases",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 790,
        "y": 420,
        "wires": [
            [
                "a34e258d12a069d8"
            ]
        ]
    },
    {
        "id": "a34e258d12a069d8",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.cases",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 420,
        "wires": []
    },
    {
        "id": "1852af3336c85a76",
        "type": "inject",
        "z": "495852470244b479",
        "name": "Baza protokołów",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 520,
        "wires": [
            [
                "682a4c991480d6cb"
            ]
        ]
    },
    {
        "id": "682a4c991480d6cb",
        "type": "http request",
        "z": "495852470244b479",
        "name": "QDRANT - request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/protocols_list",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 520,
        "wires": [
            [
                "195fe8d588eaa6cf"
            ]
        ]
    },
    {
        "id": "195fe8d588eaa6cf",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 520,
        "wires": []
    },
    {
        "id": "6eb112361e5ba7e2",
        "type": "inject",
        "z": "495852470244b479",
        "name": "AGENT - przeszukaj protokoły",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "9f1aa27664186bee"
            ]
        ]
    },
    {
        "id": "9f1aa27664186bee",
        "type": "function",
        "z": "495852470244b479",
        "name": "Ile jest otwartych protokołów?",
        "func": "msg.payload = {\n    query: \"Ile jest otwartych protokołów?\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "c6211162fe649933"
            ]
        ]
    },
    {
        "id": "c6211162fe649933",
        "type": "http request",
        "z": "495852470244b479",
        "name": "/protocols endpoint",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/protocols",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 340,
        "wires": [
            [
                "4620c3011e04dd49"
            ]
        ]
    },
    {
        "id": "4620c3011e04dd49",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 340,
        "wires": []
    }
]