nodered/Procesy/flows.json
[
    {
        "id": "6bfe9785345a7ead",
        "type": "tab",
        "label": "Ollama test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "495852470244b479",
        "type": "tab",
        "label": "Endpoints flows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1c5b2e3d4e5f6",
        "type": "tab",
        "label": "Student Query Handling",
        "disabled": false,
        "info": "Process for handling student queries with agent assistance"
    },
    {
        "id": "804e09586a032f85",
        "type": "comment",
        "z": "6bfe9785345a7ead",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "a00be4405926e6de",
        "type": "inject",
        "z": "6bfe9785345a7ead",
        "name": "Test Ollama",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{  \"model\": \"llama3\",  \"prompt\": \"Hello from Node-RED\",  \"stream\": false}",
        "payloadType": "json",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "d05ca412105be97d"
            ]
        ]
    },
    {
        "id": "d05ca412105be97d",
        "type": "http request",
        "z": "6bfe9785345a7ead",
        "name": "Ollama Generate",
        "method": "POST",
        "ret": "obj",
        "url": "http://ollama:11434/api/generate",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "headers": [
            {
                "key": "Content-Type",
                "value": "application/json"
            }
        ],
        "x": 650,
        "y": 380,
        "wires": [
            [
                "e14274d10c8248fc"
            ]
        ]
    },
    {
        "id": "e14274d10c8248fc",
        "type": "debug",
        "z": "6bfe9785345a7ead",
        "name": "Ollama Response",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "b658661bd15d37e0",
        "type": "inject",
        "z": "495852470244b479",
        "name": "AGENT - znajdź przypadek",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "4a712d546930f4b0",
                "9a9a95507263ba95"
            ]
        ]
    },
    {
        "id": "8339e127b83a63b2",
        "type": "http request",
        "z": "495852470244b479",
        "name": "/support endpoint",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/support",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 790,
        "y": 120,
        "wires": [
            [
                "37f2a892497ded9f"
            ]
        ]
    },
    {
        "id": "4a712d546930f4b0",
        "type": "function",
        "z": "495852470244b479",
        "name": "Przypadek w bazie",
        "func": "msg.payload = {\n    query: \"test1\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 120,
        "wires": [
            [
                "8339e127b83a63b2"
            ]
        ]
    },
    {
        "id": "37f2a892497ded9f",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "9a9a95507263ba95",
        "type": "function",
        "z": "495852470244b479",
        "name": "Brak przypadku w bazie",
        "func": "msg.payload = {\n    query: \"Kawa jest niesmaczna\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 240,
        "wires": [
            [
                "116865fe711907e8"
            ]
        ]
    },
    {
        "id": "116865fe711907e8",
        "type": "http request",
        "z": "495852470244b479",
        "name": "/support endpoint",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/support",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 790,
        "y": 240,
        "wires": [
            [
                "e303929aa442480f"
            ]
        ]
    },
    {
        "id": "e303929aa442480f",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "fed77b0744e32413",
        "type": "inject",
        "z": "495852470244b479",
        "name": "Baza przypadków",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 380,
        "wires": [
            [
                "f09ce2abd54515b3"
            ]
        ]
    },
    {
        "id": "f09ce2abd54515b3",
        "type": "http request",
        "z": "495852470244b479",
        "name": "Baza - request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/cases",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 540,
        "y": 380,
        "wires": [
            [
                "a34e258d12a069d8"
            ]
        ]
    },
    {
        "id": "a34e258d12a069d8",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.cases",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "event-start",
        "type": "inject",
        "z": "b1c5b2e3d4e5f6",
        "name": "Student Query Received",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "student_query",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "activity-student-send"
            ]
        ]
    },
    {
        "id": "activity-student-send",
        "type": "function",
        "z": "b1c5b2e3d4e5f6",
        "name": "Wysłanie zapytania (Student)",
        "func": "// Activity_1rzbxmh - Student sends query\nmsg.payload = {\n    processId: msg._msgid,\n    stage: \"student_query_sent\",\n    data: msg.payload,\n    lane: \"Student\",\n    timestamp: new Date().toISOString()\n};\n\nmsg.query = msg.payload.data;\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Query received from student\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "activity-analysis"
            ]
        ]
    },
    {
        "id": "activity-analysis",
        "type": "function",
        "z": "b1c5b2e3d4e5f6",
        "name": "Analiza zapytania (Pracownik)",
        "func": "// Activity_1gfz0lj - Employee analyzes query\nmsg.payload.stage = \"query_analysis\";\nmsg.payload.lane = \"Pracownik\";\nmsg.payload.employee = \"FrontDesk_Employee\";\n\n// Simulate analysis logic\nconst query = msg.query || \"\";\nconst isStandardProcedure = query.includes(\"standard\") || query.includes(\"typical\") || query.length < 100;\n\nmsg.analysisResult = {\n    isStandardProcedure: isStandardProcedure,\n    complexity: isStandardProcedure ? \"low\" : \"high\",\n    analysisDate: new Date().toISOString()\n};\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Query analyzed\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 460,
        "wires": [
            [
                "gateway-standard-check"
            ]
        ]
    },
    {
        "id": "gateway-standard-check",
        "type": "switch",
        "z": "b1c5b2e3d4e5f6",
        "name": "Czy można zastosować standardową procedurę?",
        "property": "analysisResult.isStandardProcedure",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "event-standard-end"
            ],
            [
                "activity-transfer-agent"
            ]
        ]
    },
    {
        "id": "activity-transfer-agent",
        "type": "function",
        "z": "b1c5b2e3d4e5f6",
        "name": "Przekazanie sprawy agentowi",
        "func": "// Activity_1ionxge - Transfer to agent\nmsg.payload.stage = \"transferred_to_agent\";\nmsg.payload.lane = \"Pracownik\";\nmsg.payload.transferTimestamp = new Date().toISOString();\nmsg.payload.transferredBy = msg.payload.employee;\n\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Transferred to agent\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 580,
        "wires": [
            [
                "activity-search-knowledge"
            ]
        ]
    },
    {
        "id": "activity-search-knowledge",
        "type": "http request",
        "z": "b1c5b2e3d4e5f6",
        "name": "Przeszukanie bazy wiedzy",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/run",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "key": "Content-Type",
                "value": "application/json"
            }
        ],
        "x": 1140,
        "y": 700,
        "wires": [
            [
                "function-process-response"
            ]
        ]
    },
    {
        "id": "function-process-response",
        "type": "function",
        "z": "b1c5b2e3d4e5f6",
        "name": "Process Agent Response",
        "func": "// Process response from agent4_bos\nmsg.payload.stage = \"knowledge_base_searched\";\nmsg.payload.lane = \"Agent\";\nmsg.payload.agentResponse = msg.payload;\nmsg.payload.searchTimestamp = new Date().toISOString();\n\n// Store the draft response\nmsg.draftResponse = msg.payload.draft || \"No response from agent\";\n\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Knowledge base searched\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 680,
        "wires": [
            [
                "activity-feedback-agent"
            ]
        ]
    },
    {
        "id": "activity-feedback-agent",
        "type": "function",
        "z": "b1c5b2e3d4e5f6",
        "name": "Przekazanie informacji zwrotnej",
        "func": "// Activity_00ofy1l - Pass feedback about found case\nmsg.payload.stage = \"feedback_provided\";\nmsg.payload.lane = \"Agent\";\nmsg.payload.feedbackTimestamp = new Date().toISOString();\nmsg.payload.feedback = {\n    foundSimilarCases: msg.draftResponse !== \"No response from agent\",\n    draftResponse: msg.draftResponse,\n    confidence: 0.8\n};\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Feedback provided\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 680,
        "wires": [
            [
                "gateway-acceptance-check"
            ]
        ]
    },
    {
        "id": "gateway-acceptance-check",
        "type": "switch",
        "z": "b1c5b2e3d4e5f6",
        "name": "Akceptacja odpowiedzi?",
        "property": "payload.feedback.foundSimilarCases",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2070,
        "y": 680,
        "wires": [
            [
                "activity-resolve"
            ],
            [
                "event-reject-end"
            ]
        ]
    },
    {
        "id": "activity-resolve",
        "type": "function",
        "z": "b1c5b2e3d4e5f6",
        "name": "Rozwiązanie zgłoszenia",
        "func": "// Activity_0owsv5v - Resolve the ticket\nmsg.payload.stage = \"resolved\";\nmsg.payload.lane = \"Pracownik\";\nmsg.payload.resolutionTimestamp = new Date().toISOString();\nmsg.payload.resolution = {\n    status: \"closed\",\n    solution: msg.draftResponse,\n    resolvedBy: msg.payload.employee,\n    resolutionDate: new Date().toISOString()\n};\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Ticket resolved\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2430,
        "y": 660,
        "wires": [
            [
                "event-success-end"
            ]
        ]
    },
    {
        "id": "event-standard-end",
        "type": "debug",
        "z": "b1c5b2e3d4e5f6",
        "name": "Standard Procedure End",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 460,
        "wires": []
    },
    {
        "id": "event-success-end",
        "type": "debug",
        "z": "b1c5b2e3d4e5f6",
        "name": "Successfully Resolved",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2720,
        "y": 660,
        "wires": []
    },
    {
        "id": "event-reject-end",
        "type": "debug",
        "z": "b1c5b2e3d4e5f6",
        "name": "Rejected / Manual Handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 800,
        "wires": []
    },
    {
        "id": "inject-test-query",
        "type": "inject",
        "z": "b1c5b2e3d4e5f6",
        "name": "Test Complex Query",
        "props": [
            {
                "p": "payload",
                "v": "I need information about the university's policy on academic leave for medical reasons, including required documentation, application deadlines, and how it affects my scholarship status. This is a complex situation requiring detailed review.",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "activity-student-send"
            ]
        ]
    },
    {
        "id": "inject-test-simple",
        "type": "inject",
        "z": "b1c5b2e3d4e5f6",
        "name": "Test Simple Query",
        "props": [
            {
                "p": "payload",
                "v": "What are the library opening hours?",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "activity-student-send"
            ]
        ]
    },
    {
        "id": "function-prepare-request",
        "type": "function",
        "z": "b1c5b2e3d4e5f6",
        "name": "Prepare Agent Request",
        "func": "// Prepare the request for agent4_bos\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    input: msg.query || \"No query provided\",\n    timestamp: new Date().toISOString(),\n    processId: msg.payload.processId\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 780,
        "wires": [
            [
                "activity-search-knowledge"
            ]
        ]
    }
]