nodered/Procesy/flows.json
[
    {
        "id": "495852470244b479",
        "type": "tab",
        "label": "Endpoints flows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b658661bd15d37e0",
        "type": "inject",
        "z": "495852470244b479",
        "name": "AGENT - znajdź przypadek",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "4a712d546930f4b0",
                "9a9a95507263ba95"
            ]
        ]
    },
    {
        "id": "8339e127b83a63b2",
        "type": "http request",
        "z": "495852470244b479",
        "name": "/support endpoint",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/support",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 790,
        "y": 120,
        "wires": [
            [
                "37f2a892497ded9f"
            ]
        ]
    },
    {
        "id": "4a712d546930f4b0",
        "type": "function",
        "z": "495852470244b479",
        "name": "Przypadek w bazie",
        "func": "msg.payload = {\n    query: \"test1\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 120,
        "wires": [
            [
                "8339e127b83a63b2"
            ]
        ]
    },
    {
        "id": "37f2a892497ded9f",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "9a9a95507263ba95",
        "type": "function",
        "z": "495852470244b479",
        "name": "Brak przypadku w bazie",
        "func": "msg.payload = {\n    query: \"Kawa jest niesmaczna\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 240,
        "wires": [
            [
                "116865fe711907e8"
            ]
        ]
    },
    {
        "id": "116865fe711907e8",
        "type": "http request",
        "z": "495852470244b479",
        "name": "/support endpoint",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/support",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 790,
        "y": 240,
        "wires": [
            [
                "e303929aa442480f"
            ]
        ]
    },
    {
        "id": "e303929aa442480f",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 240,
        "wires": []
    },
    {
        "id": "5a7a2aab9ccdccb9",
        "type": "inject",
        "z": "495852470244b479",
        "name": "AGENT - wygeneruj plik",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "b81d6b00c41f14c4"
            ]
        ]
    },
    {
        "id": "b81d6b00c41f14c4",
        "type": "function",
        "z": "495852470244b479",
        "name": "Wygeneruj dokument",
        "func": "msg.payload = {\n    query: \"Wygeneruj wniosek o dołączenie do koła studenckiego\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [
            [
                "d22307fd285641e8"
            ]
        ]
    },
    {
        "id": "d22307fd285641e8",
        "type": "http request",
        "z": "495852470244b479",
        "name": "/support endpoint",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://agent4_bos:8000/support",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 790,
        "y": 360,
        "wires": [
            [
                "80f0110b23d855e8"
            ]
        ]
    },
    {
        "id": "80f0110b23d855e8",
        "type": "debug",
        "z": "495852470244b479",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 360,
        "wires": []
    }
]